.right-element {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: .5rem 2rem;
    background-image: url('@/assets/image/tree.png');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 1;
}

.bottom-element {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: .5rem 2rem;
    background-image: url('@/assets/image/fence.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: repeat;
    z-index: 2;
}

.left-bottom-element {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: .5rem 2rem;
    background-image: url('@/assets/image/board.png');
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    z-index: 3;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
    pointer-events: none;
    transform: scale(.75);
    transform-origin: left bottom;
}

.left-bottom-element h1 {
    padding-left: 2rem;
    z-index: 2;
    text-align: left;
    font-size: 5rem;
    font-weight: bolder;
    color: black;
    text-shadow:
        2px 2px 0px white,
        -2px 2px 0px white,
        2px -2px 0px white,
        -2px -2px 0px white;
}