.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #f9fafb, #e0f2fe);
    color: #0f172a;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-image: url('@/assets/image/bg.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}