.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('@/assets/image/bg.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

.main-container {
    flex: 2;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.list-box{
    font-size: 1.3rem;
    font-weight: bolder;
    color: black;
}

.time-box {
    font-size: 5rem;
    font-weight: bolder;
    color: black;
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.8rem;
}

.slider {
    display: flex;
    width: 200%;
    height: 100%;
    animation: slide 300s infinite;
}

.slide {
    z-index: 1;
    flex: 0 0 50%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    95% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}